<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="team.test.project.member.dao.MemberDAO">

	<insert id = "join" parameterType="map">
		INSERT INTO member(id,pw,name,age,gender,email)
			VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
	</insert>
	
	<select id="login" resultType="team.test.project.member.dto.MemberDTO">
		select
	m.id, m.name, a.perm 
	from member m LEFT JOIN author a ON m.id = a.id 
	WHERE m.id = #{param1} AND m.pw = #{param2}
	</select>


	<select id="memberList" resultType="team.test.project.member.dto.MemberDTO">
		SELECT id,name, gender, email FROM member
	</select>
	


	
	<!--  중복 체크-->
	<select id="overlay" resultType="int">
		SELECT COUNT(id) FROM member where id=#{param1}
	</select>
	
</mapper>